:root.theme-light {
  --background-img-dark: url("../images/cover-image-light.png");
  --background-color: #353430;
  --neon-text-color: #FF8DCB;
  --title-color: #FFC2E6;
  --border-hover-color: rgba(50, 49, 45, 0.4);
  --article-text-color: #353430;
}

.theme-light .page {
  .decorated-zone::before {
    content: "";
    position: absolute;
    right: 10px;
    top: 10px;
    width: 25px;
    height: 25px;
    border-top: 1px solid var(--border-hover-color);
    border-right: 1px solid var(--border-hover-color);
  }

  .decorated-zone::after {
    content: "";
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 25px;
    height: 25px;
    border-bottom: 1px solid var(--border-hover-color);
    border-left: 1px solid var(--border-hover-color);
  }

  .header__theme-menu-button:hover {
    border: 1px solid var(--border-hover-color);
  }

  .header__theme-menu-button:active {
    border: 1px solid var(--neon-text-color);
  }

  .header__theme-menu-button:focus-visible {
    outline: none;
    border-bottom: 1px solid var(--article-text-color);
  }
}
