.page {
  font-family: "IBM Plex mono", monospace;
  font-size: 18px;
  background-image: var(--background-img-dark);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--background-color);
  background-size: cover;
}

.header {
  display: grid;
  grid-column: 1;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  height: 100vh;
  width: 100vw;

}

.decorated-zone::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--neon-text-color);
  border-right: 1px solid var(--neon-text-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--neon-text-color);
  border-left: 1px solid var(--neon-text-color);
}

.rec {
  display: inline-flex;
  color: var(--neon-text-color);
  justify-self: end;
  align-self: start;
  padding-right: 9px;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  grid-row: 1;
}

.rec::after {
  content: "";
  height: 9px;
  width: 9px;
  background-color: var(--neon-text-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--neon-text-color);
  margin-left: 10px;
}

.header__theme-menu {
  justify-self: end;
  margin-right: 10px;
  align-self: center;
  margin-top: 7px;
}

.header__theme-menu-list {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.header__theme-menu-button {
  height: 26px;
  width: 70px;
  background-color: transparent;
  color: var(--neon-text-color);
  border: none;
  text-transform: lowercase;
  line-height: 18px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-hover-color);
}

.header__theme-menu-button:active {
  border: 1px solid var(--neon-text-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--neon-text-color);
}

.title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--neon-text-color);
  margin-left: 10px;
}

.text {
  color: var(--background-color);
  background-color: var(--neon-text-color);
  align-self: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -11.5px;
}

.content {
  margin-top: var(--margin-top-main);
  margin-left: var(--margin-left-right-main);
  margin-right: var(--margin-left-right-main);
}

.main-title {
  color: var(--neon-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.chapters {
  display: grid;
  grid-column: 1;
  grid-template-rows: 1fr 1fr;
}

.title-decor {
  font-weight: 700;
  font-size: 18px;
  color: var(--background-color);
  background-color: var(--neon-text-color);
  margin-top: var(--margin-before-title-main);
  letter-spacing: 0;
  line-height: 23.4px;
  margin-top: var(--margin-text-decor);
}

.article-text {
  color: var(--article-text-color);
  margin-top: var(--margin-article-text);
}

.what-section {
  margin-top: var(--margin-section);
}

.chapters-what {
  display: grid;
  grid-column: 1;
  grid-row: 1fr 1fr 1fr;
}

.how-section {
  margin-top: var(--margin-section);
}

.capters-how {
  display: grid;
  grid-column: 1;
  grid-template-rows: repeat(5, min-content);
}

.image-section {
  margin-top: var(--margin-image-section);
  
  display: grid;
}

.picturies-img {
  height: auto;
  width: 100%;
  display: block;
  margin-top: var(--margin-article-text);
}