.page {
  font-family: "IBM Plex mono", monospace;
  font-size: 18px;
  background-image: var(--background-img-dark);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--background-color);
  background-size: cover;
}

.header {
  display: grid;
  grid-column: 1;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  height: 100vh;
  width: 100vw;

}

.decorated-zone::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--neon-text-color);
  border-right: 1px solid var(--neon-text-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--neon-text-color);
  border-left: 1px solid var(--neon-text-color);
}

.rec {
  display: inline-flex;
  color: var(--neon-text-color);
  justify-self: end;
  align-self: start;
  padding-right: 9px;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  grid-row: 1;
}

.rec::after {
  content: "";
  height: 9px;
  width: 9px;
  background-color: var(--neon-text-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--neon-text-color);
  margin-left: 10px;
}

.header__theme-menu {
  justify-self: end;
  margin-right: 10px;
  align-self: center;
  margin-top: 7px;
}

.header__theme-menu-list {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.header__theme-menu-button {
  height: 26px;
  width: 70px;
  background-color: transparent;
  color: var(--neon-text-color);
  border: none;
  text-transform: lowercase;
  line-height: 18px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-hover-color);
}

.header__theme-menu-button:active {
  border: 1px solid var(--neon-text-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--neon-text-color);
}

.title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--neon-text-color);
  margin-left: 10px;
}

.text {
  color: var(--background-color);
  background-color: var(--neon-text-color);
  align-self: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -11.5px;
}

.content {
  margin-top: var(--margin-top-main);
  margin-left: var(--margin-left-right-main);
  margin-right: var(--margin-left-right-main);
}

.main-title {
  color: var(--neon-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.chapters {
  display: grid;
  grid-column: 1;
  grid-template-rows: 1fr 1fr;
}

.title-decor {
  font-weight: 700;
  font-size: 18px;
  color: var(--background-color);
  background-color: var(--neon-text-color);
  margin-top: var(--margin-before-title-main);
  letter-spacing: 0;
  line-height: 23.4px;
  margin-top: var(--margin-text-decor);
}

.article-text {
  color: var(--article-text-color);
  margin-top: var(--margin-article-text);
}

.what-section {
  margin-top: var(--margin-section);
}

.chapters-what {
  display: grid;
  grid-column: 1;
  grid-row: 1fr 1fr 1fr;
}

.how-section {
  margin-top: var(--margin-section);
}

.capters-how {
  display: grid;
  grid-column: 1;
  grid-template-rows: repeat(5, min-content);
}

.image-section {
  margin-top: var(--margin-image-section);
  display: grid;
}

.picturies-img {
  height: auto;
  width: 100%;
  display: block;
  margin-top: var(--margin-article-text);
}

.footer {
  display: flex;
  height: 100vh;
  align-items: center;
  position: relative;
  margin-top: var(--margin-footer);
}

@media (width >= 768px) {
  :root {
    --margin-section: 80px;
    --margin-top-main: 60px;
    --margin-left-right-main: 20px;
  }
  .rec {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::before {
  right: 20px;
  top: 20px;
}

.decorated-zone::after {
  left: 20px;
  bottom: 20px;
}

.header__theme-menu {
  justify-self: end;
  margin-right: 20px;
  align-self: center;
  margin-top: 15px;
}

.title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 83%;
}

  .text {
    width: 364px;
    justify-self: end;
    margin-right: 20px;
  }

  .section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content min-content;
    gap: 20px;
  }

  .section-why {
    max-height: 648px;
  }

  .main-title {
    grid-column: 1;
  }

  .title-decor {
    margin-top: 0;
    max-height: 23.4px;
  }

  .chapters {
    grid-column-start: 2;
  }

  .chapters-item {
    margin-bottom: 20px;
    align-content: space-between;
  }

  .chapters-item:last-child {
    margin-bottom: 0;
  }

  .what-section {
    margin-top: var(--margin-section);
    max-height: 675px;
  }

  .main-title {
    width: 236px;
  }

  .chapters-what {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .how-section {
    margin-top: var(--margin-section);
    max-height: 1296px;
  }

  .how-title {
    margin-bottom: 20px;
  }

  .image-section {
    margin-top: var(--margin-section);
    display: block;
    height: 823px;
  }

  .images {
    display: grid;
    gap: 20px;
    height: 780px;
    margin-top: 15px;
    grid-template-areas: "image-top-left image-top-left image-top-right"
    "image-bottom-left image-center image-top-right"
    "image-bottom-left image-bottom-right image-bottom-right";
  }

  .image {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .picturies-img {
    object-fit: cover;
    object-position: center;
  }

  .image-top-left {
    grid-area: image-top-left;
  }

  .image-top-right {
    grid-area: image-top-right;
  }

  .image-bottom-left {
    grid-area: image-bottom-left;
  }

  .image-bottom-right {
    grid-area: image-bottom-right;
  }

  .image-center {
    grid-area: image-center;
  }

  .footer {
    margin-top: var(--margin-top-main);
    display: flex;
    justify-content: center;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-top: 20px;
  }

  .header__theme-menu-list {
    gap: 10px;
    display: flex;
    flex-direction: row;
  }

  .text {
    height: 71px;
    width: 491px;
  }

  .section-why {
    height: 508px;
  }

  .main-title {
    width: 315px;
    height: 47px;
  }

  .article-text-left {
    width: 649px;
    height: min-content;
  }

  .chapters-what {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    height: 498px;
  }

  .how-section {
    margin-top: 13px;
    height: 1015px;
  }

  .image-section {
    height: 1091px;
  }

  .footer {
    height: 768px;
  }
}